body {
    background-color:#ddd;
}
#gamePluginPanel {
    margin: auto;
    height:480px;
    width:720px;
}

#gamePlugin {
    width: 100%;
    height: 100%;
}
#waitOpponentStatus {
    text-align:center;
}

